*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Vars Colors - Dark */
:root{
  --backgroundNt:#141414;
}

/* Vars Color - Light */
body.light{
  --backgroundNt:#eee9e9;
}

body,html{
  background-color: var(--backgroundNt);
  transition: all .2s ease-in-out;
}
